*,
*::before,
*::after {
  box-sizing: border-box;
}
.cv-wrapper {
  border: 1px solid black;
  height: 100vh;
  display: flex;
}
.sidebar {
  width: 40%;
  background-color: pink;
  display: flex;
  flex-direction: column;
}
.resume-wrapper {
  width: 60%;
  background-color: blue;
}
